*{
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(#1D3564 20%,#0056FD);
    margin:0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1D3564;
    color: white;
}
 .logo img{
    height: 150px;
    margin-left: 20px;
    margin-top: 20px;
} 

.navbar-links.active {
    display: block;
}

 @media screen and (max-width:768px){
     .logo img{
         height: 100px;
         margin-top: 10px;

     }
 }

 
.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color:#ffffff;
    padding: 1rem;
    display: block;
    font-family: josefin sans;
}

.navbar-links li a:hover{
    color: #F58225; 
}

.toggle-button {
    position:absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .toggle-button {
        display: flex;
        margin-right: 30px;
        margin-top: 40px;
    }

    .navbar-links {
        display: none; 
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li{
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem
    }

   
}


h1{
    text-align: center;
    font-family: josefin sans;
    color: #FFFBB5;
    font-size: 75px;
}

@media screen and (max-width:768px) {
    h1{
        font-size: 44px;
        margin-top: 50px;
    }
}

@media screen and (max-width:600px) {
    h1{
        font-size: 44px;
        margin-top: 20px;
    }
}

h2{
    text-align: center;
    font-family: josefin sans;
    color: #ffffff;
    font-weight: 400;
    margin-top: 30px;
    padding-bottom: 100px;
    font-size: 60px;
    
}

@media screen and (max-width:768px) {
    h2{
        font-size: 44px;
    }
}

@media screen and (max-width:600px) {
    h2{
        font-size: 34px;
        padding-bottom: 50px;
    }
}

.h{
    background-color: #F58225;
    height: 10px;
    margin-top: 10px;
    margin-bottom: 100px;
}



@media screen and (max-width:600px){
    .h {
        margin-top: 5px;
        margin-bottom: 50px;
    }

}


.cards{
    margin-left: 350px;
    font-size: 60px;
    font-family: josefin sans;
    color:#FFFBB5;
    
}

@media screen and (max-width:768px){
    .cards{
        font-size: 44px;
        margin-left: 100px;
    }
        
}
@media screen and (max-width:600px){
    .cards{
        font-size: 30px;
        margin-left: 40px;

    }
        
}
.one img{
    height: 315px;
    border-radius: 20px 20px 20px 20px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 3px;

    
}

@media screen and (max-width:768px){
    .one img{
        height: 210px;
    }
        
}
@media screen and (max-width:600px){
    .one img{
        height: 160px;
    }
        
}
.one a{
    text-decoration: none;
    color: #FFFBB5;
}

.two img{
    height: 300px;
    margin-top: 20px;
    border-radius: 20px 20px 20px 20px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 3px;
}

@media screen and (max-width:768px){
    .two img{
        height: 200px;
    }
        
}
@media screen and (max-width:600px){
    .two img{
        height: 150px;
    }
        
}
.two a{
    text-decoration: none;
    color: #FFFBB5;
}

.three img{
    height: 300px;
    margin-top: 20px;
    border-radius: 20px 20px 20px 20px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 3px;
}

@media screen and (max-width:768px){
    .three img{
        height: 200px;
    }
        
}
@media screen and (max-width:600px){
    .three img{
        height: 150px;
    }
        
}
.three a{
    text-decoration: none;
    color: #FFFBB5;
}

.four img{
    height: 300px;
    margin-top: 20px;
    border-radius: 20px 20px 20px 20px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 3px;
    
}

@media screen and (max-width:768px){
    .four img{
        height: 200px;
    }
        
}
@media screen and (max-width:600px){
    .four img{
        height: 150px;
    }
        
}
.four a{
    text-decoration: none;
    color: #FFFBB5;
}