*{
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(#1D3564 20%,#0056FD);
    margin:0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1D3564;
    color: white;
}
 .logo img{
    height: 150px;
    margin-left: 20px;
    margin-top: 20px;
} 

.navbar-links.active {
    display: block;
}

 @media screen and (max-width:768px){
     .logo img{
         height: 100px;
         margin-top: 10px;

     }
 }

 @media screen and (max-width:600px){
    .logo img{
        height: 80px;
        margin-top: 10px;
        margin-left: 5px;

    }
}
 
.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color:#ffffff;
    padding: 1rem;
    display: block;
    font-family: josefin sans;
    font-size: 20px;
}

.navbar-links li a:hover{
    color: #F58225; 
}

.toggle-button {
    position:absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .toggle-button {
        display: flex;
        margin-right: 30px;
        margin-top: 40px;
    }

    .navbar-links {
        display: none; 
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li{
        text-align: center;
        background-color:#061533;
    }

    .navbar-links li a {
        padding: .5rem 1rem
        
    }

   
}


h1{
    text-align: center;
    font-family: londrina solid;
    color: #FFFBB5;
    font-size: 75px;
}

@media screen and (max-width:768px) {
    h1{
        font-size: 56px;
        margin-top: 50px;
    }
}

@media screen and (max-width:600px) {
    h1{
        font-size: 44px;
        margin-top: 20px;
    }
}

.h{
    background-color: #F58225;
    height: 10px;
    margin-top: 50px;
    margin-bottom: 100px;
}

@media screen and (max-width:768px){
    .h {
        margin-top: 30px;
        margin-bottom: 70px;
    }

}

@media screen and (max-width:600px){
    .h {
        margin-top: 30px;
        margin-bottom: 50px;
    }

}

h2{
    text-align: center;
    font-family: josefin sans;
    color: #ffffff;
    font-weight: 400;
    margin-top: 30px;
    padding-bottom: 50px;
    font-size: 60px;
    
}

@media screen and (max-width:768px) {
    h2{
        font-size: 44px;
    }
}

@media screen and (max-width:600px) {
    h2{
        font-size: 34px;
        padding-bottom: 50px;
    }
}

.cards{
    margin: 50px 150px;
    
}

.cards img {
    transition: 1s;
    padding: 30px;
    width: 600px;
    border-radius: 50px 50px 50px 50px; 
    

}





.cards img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}


@media screen and (max-width:768px){
    .cards{
        margin: 30px 60px;
        margin-top: 30px;
    }
    
    .cards img{
        width:300px;
        padding: 20px;
        border-radius: 30px 30px 30px 30px;
    }
}

@media screen and (max-width: 600px){
    .cards {
        margin: 30px 90px;
    }
}

